@model POS.Entities.Category

@{
    ViewData["Title"] = ViewData["txtTitle"];
}

<h1>@ViewData["txtTitle"]</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCategory" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="CreateUser" />
            <input type="hidden" asp-for="CreateDate" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="LastUpdateUser" class="control-label"></label>
                <input asp-for="LastUpdateUser" class="form-control" value="@ViewData["User"]" />
                <span asp-validation-for="LastUpdateUser" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="@ViewData["txtbutton"]" class="@ViewData["btn-class"]" />
                <a class="btn btn-secondary" asp-action="Index">Volver al listado</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
