@model IEnumerable<POS.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Categorías</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Agregar Categoría</a> | 
    <a asp-action="GetAllInactive" class="btn btn-secondary">Categorías Inactivas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdCategory">Editar</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdCategory">Detalles</a> |
                <a asp-action="Inactivate" class="btn btn-warning" asp-route-id="@item.IdCategory">Inactivar</a>
            </td>
        </tr>
}
    </tbody>
</table>
