@model POS.Entities.Stock

@{
    ViewData["Title"] = "Alta";
}

<h1>Alta</h1>

<h4>Stock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdWarehouse" class="control-label">Almacén</label>
                <select asp-for="IdWarehouse" class="form-control" asp-items="ViewBag.Warehouse">
                    <option value="">Seleccione una almacén</option>
                </select>
                <span asp-validation-for="IdWarehouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProduct" class="control-label">Producto</label>
                <select asp-for="IdProduct" class="form-control" asp-items="ViewBag.Product">
                    <option value="">Seleccione un producto</option>
                </select>
                <span asp-validation-for="IdProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" /> |
                <a class="btn btn-secondary" asp-action="Index">Volver al listado</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
