@model POS.Entities.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduct" />            
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="CreateUser" />
            <input type="hidden" asp-for="CreateDate" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descripción</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategory" class="control-label">Categoría</label>
                <input asp-for="IdCategory" class="form-control" />
                <span asp-validation-for="IdCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategory" class="control-label">Ubicación</label>
                <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.Categories">
                    <option value="">Seleccione una categoría</option>
                </select>
                <span asp-validation-for="IdCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Precio</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeasureUnit" class="control-label">Unidad de Medida</label>
                <input asp-for="MeasureUnit" class="form-control" />
                <span asp-validation-for="MeasureUnit" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="UrlImage" class="control-label"></label>
                <input asp-for="UrlImage" class="form-control" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ProductImage" class="control-label">Imagen del Producto</label>
                <input type="file" id="ProductImage" name="ProductImage" class="form-control" onchange="updateUrlImage()" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="@ViewData["Option"]" class="@ViewData["btn-class"]" />
                <a class="btn btn-secondary" asp-action="Index">Volver al listado</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function updateUrlImage() {
            var input = document.getElementById('ProductImage');
            var urlImageInput = document.getElementById('UrlImage');
            if (input.files.length > 0) {
                var fileName = input.files[0].name;
                urlImageInput.value = '\\images\\products\\' + fileName;
            }
        }
    </script>
}
